<html>
  <head>
    <title>Look1203 key value lookup service to demonstrate Single container</title>
  </head>
  <body>
    <form method="POST">
      <input type="text" name="key" value={{ key }}>
      <input type="text" name="cache_value" value={{ cache_value }}>
      <input type="submit" name="submit" value="load">
      <input type="submit" name="submit" value="save">
     </form>
  </body>
</html>
